@model IEnumerable<MultiplexCinema.Models.Ticket>

<h2>Moje Bilety</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Numer miejsca</th>
            <th scope="col">Film</th>
            <th scope="col">Czas seansu</th>
            <th scope="col">Sala</th>
            <th scope="col">Cena</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.SeatNumber</td>
                <td>@ticket.Screening.Movie.Title</td>
                <td>@ticket.Screening.ScreeningTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@ticket.Screening.Auditorium.Name</td>
                <td>@ticket.Price.ToString("C")</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        Nie masz jeszcze żadnych zakupionych biletów.
    </div>
}